<div class="promo">
	<img src="images/fftf/heart.png" width="30"Jeff Lyon height="30"/>
	If you love Flagger, please consider <a href="https://donate.fightforthefuture.org/donate/fftf" target="_blank">donating</a> to
	<a href="http://www.fightforthefuture.org/" target="_blank"><img src="images/fftf/logo.png" width="200" height="30"/></a>
	<a class="never_again" href="#">Never show this again.</a>
</div>
<div class="field">
	<div class="text">
		<label for="message">Choose your message:</label>
		<div class="hint">
			<strong>Optional.</strong> They watch practically everything you do online. Might as well tell them how
			you really feel. Your message is added to every URL you visit.
		</div>
	</div>
	<textarea id="message" placeholder="Dear NSA,"><%=unescape(message)%></textarea>
</div>
<div class="field">
	<div class="text">
		<label for="red_flags">Choose your red flags:</label>
		<div class="hint">
			Get their attention. A random selection of your choices
			get added to the web addresses you visit.
			<a href="#" class="select" id="select_all">Select all.</a>
			<a href="#" class="select hide" id="select_none">Select none.</a>
		</div>
		<hr/>
		<!--
		<label>Spread the word!</label>
		<div class="hint">
			Flagger is more effective when more people use it. Refer a friend
			and help create a world without mass surveillance!
		</div>
		-->
		<div class="social_crap">
			<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fflagger.io" target="_blank"><img src="images/facebook.png" width="32" height="32"/></a>
			<a href="https://twitter.com/intent/tweet?source=webclient&text=DOWNFALL%20TALIBAN%20TERROR!%20Get%20Flagger%E2%80%94the%20app%20that%20trolls%20the%20NSA%20with%20red%20flags%20%26%20free%20speech!%20http%3A%2F%2Fflagger.io%20via%20%40FlaggerApp" target="_blank"><img src="images/twitter.png" width="32" height="32"/></a>
			<a href="https://plus.google.com/share?url=http%3A%2F%2Fflagger.io" target="_blank"><img src="images/google.png" width="32" height="32"/></a>
			<a href="http://www.tumblr.com/share/link?url=http%3A%2F%2Fflagger.io&name=Flagger%3A%20Troll%20the%20NSA!&description=Flagger%20is%20an%20app%20that%20automatically%20puts%20red%20flag%20keywords%20(like%20BOMB%2C%20TALIBAN%20and%20ANTHRAX)%20into%20the%20web%20addresses%20you%20visit." target="_blank"><img src="images/tumblr.png" width="32" height="32"/></a>
			<a href="mailto:?subject=Troll the NSA with Flagger!&body=http%3A%2F%2Fflagger.io" target="_blank"><img src="images/mail.png" width="32" height="32"/></a>
		</div>
	</div>
	<input type="text" id="entry" placeholder="enter your own"/>
	<a href="#" id="clear_entry">×</a>
	<ul id="flags"></ul>
</div>