<a href="#" id="options"></a>
<div id="options_panel">
	<div class="arrow"></div>
	<div class="blocker"></div>
	<h4>Advanced options</h4>
	<label for="http_header_mode">
		<input id="http_header_mode" type="checkbox" <%=settings.http_header_mode ? 'checked="checked"' : ''%>/>
		<strong>Don't mangle URLs</strong>
		Turn this on if Flagger is interfering with your web browsing. Instead of modifying the web addresses you visit,
		Flagger will send HTTP headers in the background.
	</label>
	<!--
	<label for="allow_duplicates">
		<input id="allow_duplicates" type="checkbox" <%=settings.allow_duplicates ? 'checked="checked"' : ''%>/>
		<strong>Allow duplicate flags</strong>
		Turn this off to prevent getting results like "Taliban Taliban Taliban."
	</label>
	-->
	<label for="randomize_params">
		<input id="randomize_params" type="checkbox" <%=settings.randomize_params ? 'checked="checked"' : ''%>/>
		<strong>Randomize parameter names</strong>
		Turn this on to randomize the parameter names that Flagger sends out. This might make it harder for the
		NSA to filter out Flagger data.
	</label>
</div>