html {
	 overflow-y: -moz-scrollbars-vertical;
	 overflow-y: scroll;
}

body { 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;

	font-family: Georgia, serif;

	background-color: #c3461b;
	transition: color .5s linear, background-color .5s linear, border-color .5s linear;
}

header {
	padding: 40px 0px 30px 0px;
	text-align: center;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 2;
	background-color: #c3461b;
	transition: color .5s linear, background-color .5s linear, border-color .5s linear;
}
header iframe {
	position: absolute;
	display: none;
	right: 60px;
	top: 2px;
	background-color: rgba(0, 0, 0, .1);
}
footer {
	display: block;
	margin: 50px auto;
	text-align: center;
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
}
footer strong {
	font-weight: bold;
}
footer a {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
}
footer a:hover {
	border-bottom: 1px solid white;
}
#view {
	padding: 0px 60px;
	margin: 154px auto 0px auto;
	background-color: white;
}
#view .gutter {
	width: 1000px;
	padding: 60px 0px;
	margin: 0px auto;
}
h1 {
	text-align: center;
	font-size: 40px;
	color: #c3461b;
	margin-bottom: 40px;
	letter-spacing: 7px;
}
h2 {
	font-size: 26px;
	letter-spacing: 1px;
	color: #c3461b;
	text-align: center;
}

ol {
	margin-bottom: 60px;
}
ol li {
	position: relative;
	display: table;
	padding: 0px 0px 0px 0px;
	margin-bottom: 50px;
	font-size: 23px;
	line-height: 36px;
	color: #555;
	letter-spacing: 1px;
	text-align: justify;
}
a.agree_to_terms {
	display: block;
	margin: 10px auto;
	width: 270px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #c3461b;
	padding: 18px 38px;
	font-size: 40px;
	letter-spacing: 3px;
	background-color: white;
	color: #c3461b;
	text-decoration: none;
}
a.agree_to_terms:hover {
	color: white;
	background-color: #c3461b;
}

.promo {
	display: none;
	position: relative;
	width: 100%;
	padding: 20px 60px;
	margin-left: -60px;
	letter-spacing: 1px;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	background: #642b17;
	text-align: center;
	color: white;
	font-size: 16px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
	transition: color .5s linear, background-color .5s linear, border-color .5s linear;
}
.promo img {
	vertical-align: middle;
	margin: 0px 3px;
}
.promo a {
	color: #e6aa98;
	transition: color .1s linear;
}
.promo a:hover {
	color: gold;
}
.promo a.never_again {
	position: absolute;
	opacity: .8;
	right: 1px;
	bottom: 2px;
	font-size: 12px;
	text-decoration: none;
	transition: color .1s linear, background-color .1s linear, border-color .1s linear;
}
.promo a.never_again:hover {
	color: white;
}
div.field {
	padding-top: 60px;
	position: relative;
	padding-left: 430px;
}
div.field .text {
	position: absolute;
	left: 0px;
	top: 69px;
}
div.field label {
	display: inline-block;
	width: 420px;
	text-align: right;
	font-size: 36px;
	letter-spacing: 1px;
	color: #c3461b;
	transition: color .5s linear, background-color .5s linear, border-color .5s linear;
}

div.field textarea {
	margin-left: 30px;
	padding: 5px 10px;
	font-family: Georgia, serif;
	font-size: 36px;
	width: 524px;
	border: 1px solid #c3461b;
	color: #555;
	height: 130px;
	transition: color .5s linear, background-color .5s linear, border-color .5s linear;
}
div.field textarea::-moz-placeholder {
	color: #999;
}

div.field input {
	margin-left: 30px;
	padding: 5px 50px 5px 10px;
	font-family: Georgia, serif;
	font-size: 36px;
	border: 1px solid #c3461b;
	color: #555;
	margin-bottom: 15px;
	transition: color .5s linear, background-color .5s linear, border-color .5s linear;
}
div.field input::-moz-placeholder {
	color: #999;
}
div.field .hint {
	margin: 20px 0px 0px 0px;
	width: 400px;
	color: #555;
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
}
div.field .hint strong {
	font-weight: bold;
}

a#clear_entry {
	display: inline-block;
	position: absolute;
	margin-left: -42px;
	margin-top: 12px;
	width: 30px;
	height: 30px;
	line-height: 27px;
	color: white;
	text-decoration: none;
	font-size: 26px;
	background-color: #c3461b;
	text-align: center;
	border-radius: 15px;
	display: none;
	transition: color .5s linear, background-color .5s linear, border-color .5s linear;
}

a.select {
	margin-left: 10px;
	text-decoration: none;
	color: #c3461b;
	text-decoration: none;
	font-weight: bold;
	transition: color .5s linear, background-color .5s linear, border-color .5s linear;
}
a.select:hover {
	text-decoration: underline;
}
a.select.hide {
	display: none;
}

ul#flags {
	padding-left: 30px;
	padding-bottom: 60px;
}
ul#flags li {
	display: inline-block;
}
ul#flags li a {
	display: block;
	color: #c3461b;
	text-decoration: none;
	font-size: 30px;
	padding: 5px 10px;
	border: 1px dotted #c3461b;
	margin: 0 15px 15px 0;
	font-weight: 100;
	transition: color .5s linear, background-color .5s linear, border-color .5s linear;
}
ul#flags li a:hover {
	border: 1px solid #c3461b;
}
ul#flags li.is_active a {
	border: 1px solid #c3461b;
	background: #c3461b;
	color: white;	
}
ul#flags li.is_hidden {
	display: none;
}

#flagger_switch {
	font-family: Georgia;
	position: absolute;
	left: 105px;
	top: 60px;
	width: 300px;
	opacity: 0;
	transition: opacity .5s linear;
}
#flagger_switch .toggle {
	cursor: pointer;
}

#options { 
	position: absolute;
	display: block;
	left: 410px;
	top: 57px;
	width: 35px;
	height: 35px;
	background: url(../images/settings.png) left top no-repeat;
	background-size: 35px 35px;
	opacity: 0;
	transition: opacity .5s linear;
	display: none;
}
#options:hover { 
	background: url(../images/settings_hover.png) left top no-repeat;
	background-size: 35px 35px;
}
#options_panel { 
	position: absolute;
	left: 255px;
	top: 110px;
	width: 300px;
	padding: 20px;
	background-color: rgba(233, 233, 233, 1);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
	border-radius: 10px;
	border-left: 1px solid rgba(215, 215, 215, 1);
	border-bottom: 1px solid rgba(215, 215, 215, 1);
	border-right: 1px solid rgba(215, 215, 215, 1);
	transition: opacity .2s linear;
	opacity: 0;
	display: none;
}
#options_panel .blocker {
	position: absolute;
	left: 0px;
	top: -45px;
	width: 340px;
	height: 45px;
	background-color: transparent;
	z-index: 9001;
}
#options_panel .arrow {
	position: absolute;
	left: 157px;
	top: 0px;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid rgba(233, 233, 233, 1);
	margin-top: -15px;
}
#options_panel h4 {
	text-align: center;
	font-size: 22px;
	color: #c3461b;
	margin: 0px auto;
	border-bottom: 1px dotted #c3461b;
	padding-bottom: 10px;
	color: #666;
}
#options_panel label {
	display: block;
	position: relative;
	padding: 20px 10px 20px 30px;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	line-height: 17px;
	color: #454545;
	text-align: left;
	cursor: pointer;
}
#options_panel label:last-child {
	border-bottom: 0px none transparent;
}
#options_panel label input {
	position: absolute;
	left: 5px;
	top: 18px;
}
#options_panel label strong {
	display: block;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
}


body.inactive { background-color: #888; }
body.inactive header { background-color: #888; }
body.inactive div.field label { color: #888; }
body.inactive div.field textarea { border-color: #888; }
body.inactive div.field input { border-color: #888; }
body.inactive a.select { color: #888; }
body.inactive ul#flags li a { border-color: #888; color: #888; }
body.inactive ul#flags li.is_active a { background: #888; color: white; }
body.inactive a#clear_entry { background-color: #888; }
body.inactive .promo { background-color: #3d3d3d; }
body.inactive a.never_again { color: #bfbfbf; }